<header class="masthead">
  <div class="container">
    <div class="row">
      <nav class="navbar navbarTop navbar-expand-lg navbar-dark fixed-top navbar-shrink " id="mainNav">

        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto myNav">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#service">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#service">OUR SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">OFFER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">MY ACCAOUNT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">PRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">CONTACT US </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">PL </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="logo" class="row">
      <img src="assets/ResHome/images/logo.png" class="logo" />
    </div>
  </div>

  <div class="container">

    <div class="intro-text">


      <div class="intro-lead-in">PAMPER YOURSELT PRETTY</div>
      <div class="col-lg-8 mx-auto text-center ">

        <p class="large text-muted text-center para"> Treat your self to one of our services.Our beloved
          beauty experts will wow your brows, get you glowin and so much more. You'll leave loking and
          feeling more gorgeous than never befor.</p>
      </div>


      <a class="btn firstbtn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">I RESERVE</a>
    </div>
  </div>

  <div class="row" id="footer">
    <img src="assets/ResHome/images/ic_scroll@1x.png" />
  </div>
  
</header>