<section id="contact">


  <div class="row justify-content-center">
      <div class="intro-text">
          <div class="intro-lead-in sub text-uppercase">Subscribe to our newslatter</div>
          <div class="text-center ">

              <p class="large stay text-muted text-center para"> Stay informed about us news and events</p>
          </div>
      </div>

  </div>

  <div class="container" style="margin-bottom:5%; margin-top: 5%;">

    <!--Grid row-->
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1">

        </div>

        <!--Grid column-->
        <div class="col-lg-8 col-md-8 col-sm-10">

            <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email"
                    aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-white" type="button" style="background-color:black;">
                        <span style="color:white;">Send</span></button>
                </div>
            </form>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-1">

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>


  <div class="container">
      <div class="row justify-content-center">
          <nav class="navbar NavContact navbar-expand-lg navbar-dark fixed-top navbar-shrink " id="mainNav">

              <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                  aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse " id="navbarResponsive">
                  <ul class="navbar-nav text-uppercase ml-auto NavContact">
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#services">OUR SERVICES</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#portfolio">OFFER</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#about">MY ACCAOUNT</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#team">PRO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="#contact">CONTACT US </a>
                      </li>

                  </ul>

              </div>



          </nav>
      </div>
  </div>
  <div class="container">
      <div class="row justify-content-center">

          <img class="social" src="assets/ResHome/images/ic_facebook@1x.png" />
          <img class="social" src="assets/ResHome/images/ic_twitter@1x.png" />

          <img class="social" src="assets/ResHome/images/ic_youtube@1x.png" />

      </div>
  </div>



</section>
