<section id="service">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading titre text-uppercase" color="red"> explore our services</h2>

              <img class="line" src="assets/ResHome/images/title _line_category_1@2x.png" width="15%" />

          </div>
      </div>
      <div class="row">
          <div id="carouselExampleControls" class="carousel slide" data-interval="2000" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ1.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li class="card-text text-center">- Event makeup</li>
                                              <li class="card-text text-center">- Make up workshop</li>
                                              <li class="card-text text-center">- Make up widh test</li>
                                              <li class="card-text text-center">- Nude makeup</li>
                                              <li class="card-text text-center">- Fashion makeup</li>
                                              <li class="card-text text-center">- Our makeup artist</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ2.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ3.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">

                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ2.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li class="card-text text-center">- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ3.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ4.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">

                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ3.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ4.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ5.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>



                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">


                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ4.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ5.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ6.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>


                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">

                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ5.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ6.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ1.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ6.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ1.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4 col-4">
                              <div class="card justify-content-center border-0 ">
                                  <img class="card-img-top" src="assets/ResHome/images/categ2.png" alt="Card image cap"/>
                                  <div class="card-body text-center">
                                      <img src="assets/ResHome/images/title _line_section@1x.png" width="15%" />

                                      <h5 class="card-title text-center">Laches & braws</h5>
                                      <div class="card-text text-muted justify-text-center">
                                          <ul class="list-group text-center">
                                              <li>- Event makeup</li>
                                              <li>- Make up workshop</li>
                                              <li>- Make up widh test</li>
                                              <li>- Nude makeup</li>
                                              <li>- Fashion makeup</li>
                                              <li>- Our makeup artist</li>
                                          </ul>
                                        </div>
                                  </div>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  </section>
