<section id="capital">
  <div class="row justify-content-center">

      <div class="col-lg-12 text-center">
          <h2 class="section-heading capitaltitle title text-uppercase"> Tested, Approved & Recommended By</h2>

          <img class="line" src="assets/ResHome/images/title _line_category_2@1x.png" width="15%" />

      </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators indicateur">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner ">
          <div class="carousel-item active">

              <div class="row image justify-content-center">
                  <img src="assets/ResHome/images/grazia_logo@2x.png" height="50px"/>
              </div>
              <div class="row justify-content-center">

                  <div class="carousel-caption caption d-none d-md-block">
                      <p>Myglam app takes up the much needed mantle of beauty concierge in Central</p>

                  </div>
              </div>
          </div>

          <div class="carousel-item">

              <div class="row image justify-content-center">
                  <img src="assets/ResHome/images/capital_logo@1x.png" height="50px"/>
              </div>
              <div class="row justify-content-center">

                  <div class="carousel-caption caption d-none d-md-block">
                      <p>Myglam app takes up the much needed mantle of beauty concierge in Central</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item ">

              <div class="row image justify-content-center">
                  <img src="assets/ResHome/images/bfmtv_logo@1x.png" height="50px"/>
              </div>
              <div class="row justify-content-center">

                  <div class="carousel-caption caption d-none d-md-block">
                      <p>Myglam app takes up the much needed mantle of beauty concierge in Central</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item ">

              <div class="row image justify-content-center">
                  <img src="assets/ResHome/images/elle_logo@1x.png" height="50px"/>
              </div>
              <div class="row justify-content-center">

                  <div class="carousel-caption caption d-none d-md-block ">
                      <p>Myglam app takes up the much needed mantle of beauty concierge in Central</p>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</section>